@model TaskViewModel
@{
    ViewData["Title"] = "Task Page";
}

<div class="task__container">
    <div class="task">
        <span>Your task ID: </span>
        <span>@Model.Id</span>
    </div>
</div>
